@theme{
  --shadow-green: 0 0 64px 0 rgba(26, 226, 188, 0.64);
  --shadow-md: 0 0 24px 0 rgba(0, 0, 0, 0.08);
  --shadow-sm: 0 0 16px 0 rgba(0, 0, 0, 0.08);
  --shadow-contact: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  --shadow-button-primary: 0 0 0 2px var(--color-white, #FFF), 0 0 0 4px var(--color-turquoise-700), 0 0 64px 0 rgba(26, 226, 188, 0.64);
  --shadow-button-secondary: 0 0 0 2px var(--color-white, #FFF), 0 0 0 4px var(--color-blue-500);
  --shadow-button-ghost: 0 0 0 2px var(--color-blue-700);
  --shadow-button-ghost-dark: 0 0 0 2px var(--color-white, #FFF);
  --shadow-link-menu-primary: 0 0 0 1px var(--color-blue-500, #103EA9);
  --shadow-submenu-desktop: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  --shadow-download-content: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  --shadow-paying: 0 0 8px 0 rgba(255, 255, 255, 0.64);
  --shadow-green-new: 0 0 8px 0 rgba(26, 226, 188, 0.64);
}