@theme {
  --max-w-1920 : 120rem;
  --max-w-1670: 104.375rem;
  --max-w-1593: 99.563rem;
  --max-w-1440: 90rem;
  --max-w-1344: 84rem;
  --max-w-1316: 82.25rem;
  --max-w-1279: 79.938rem;
  --max-w-1200: 75rem;
  --max-w-1000: 62.5rem;
  --max-w-768: 48rem;
  --max-w-520: 32.5rem;
}