@use "../utils/_buttons.css";

@layer components {
  .wp-block-button.is-style-soreau-primary {
    .wp-block-button__link {
      @apply btn-soreau-primary btn-soreau-primary-default !text-white relative;

      &::after {
        content: '';
        -webkit-mask: url('@icons/arrow-big-down-dash.svg') no-repeat center / contain;
        mask: url('@icons/arrow-big-down-dash.svg') no-repeat center / contain;
        @apply bg-current w-5 h-5 inline-block align-middle rotate-270 transition-transform duration-200 ease-linear translate-x-0;
      }

      &:hover::after {
        @apply translate-x-2;
      }
    }

    &.download-icon {
      .wp-block-button__link::after {
        -webkit-mask: url('@icons/file-download.svg') no-repeat center / contain;
        mask: url('@icons/file-download.svg') no-repeat center / contain;
      }
    }
  }

  main p a {
    @apply !no-underline inline-flex whitespace-nowrap  items-start 1920:gap-2.5 gap-1.5 border-b border-dark-20 text-grey-95 font-manrope text-p font-medium transition-colors duration-300 hover:text-purple-55 hover:border-purple-55 leading-150;

    &::after {
      content: '';
      -webkit-mask: url('@icons/arrow-up-right.svg') no-repeat center / contain;
      mask: url('@icons/arrow-up-right.svg') no-repeat center / contain;
      @apply bg-current size-6 inline-block align-middle transition-transform duration-200 ease-linear translate-x-0;
    }
  }

}
